---
import { type CollectionEntry, getCollection } from 'astro:content';
import Layout from "../../layouts/Layout.astro";
import PageSection from "../../components/PageSection.astro";
import ContentSection from "../../components/ContentSection.astro";

// Get all posts from the 'blog' collection
export async function getStaticPaths() {
	const posts = await getCollection('blog');
	return posts.map((post) => ({
		params: { slug: post.slug },
		props: post,
	}));
}

type Props = CollectionEntry<'blog'>;

const { slug } = Astro.params;
const posts = await getCollection('blog');
const post = posts.find((p) => p.slug === slug);

if (!post) {
	throw new Error("Post not found");
}

const { Content } = await post.render();
---

<Layout
	{...post.data}
	title={post.data.title}
	description={post.data.description}
	navTitle={`Viewing:<br/>${post.data.title}`}
	ogTitle={post.data.title}
	ogDescription={post.data.description}
	ogUrl={`https://techit.win/posts/${post.slug}`}
>
	<PageSection>
		<ContentSection>
			<img src={post.data.heroImage} alt="" class={post.data.heroImage ? 'aspect-video w-full rounded-[var(--border-radius)]' : ''}/>
		</ContentSection>
		<ContentSection>
			<h1 class="m-0">{post.data.title}</h1>
			<p class="m-0">{post.data.description}</p>
			<div class="flex flex-row flex-wrap items-center gap-3">
				<p class="italic font-mono tracking-tighter" style="opacity: 0.75;font-size:16px;">{new Date(post.data.pubDate).toDateString()}</p>
				<section class="badge" style="font-size:14px;display:flex;flex-direction:row;flex-wrap:wrap;gap:4px;">
					{post.data.tags?.map(tag => (
						<p class="tag">
							{tag}
						</p>
					))}
				</section>
			</div>
		</ContentSection>
	</PageSection>
	<div class="hr-super"/>
	<PageSection className="post-content">
		<div class="prose prose-slate dark:prose-invert max-w-[56rem] w-full">
			<Content/>
		</div>
	</PageSection>
</Layout>
