---
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
interface Props {
	title: string;
	description: string;
	navTitle: string;
	ogTitle: string;
	ogImage?: string;
	ogDescription: string;
	ogUrl: string;
}

const { title, description, navTitle, ogDescription, ogTitle, ogUrl, ogImage } = Astro.props;
import '../styles/global.css';
---

<!doctype html>
<html dir="ltr" lang="en">
	<head>
		<!-- Generic -->
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="icon" href="/favicon.svg" type="image/svg+xml">
		<meta name="generator" content={Astro.generator} />
		<!-- Must -->
		<title>{title}</title>
		<meta name="description" content={description}/>
		<!-- Author Name -->
		<meta name="author" content="Techit Thawiang">
		<link rel="canonical" href="https://techit.win/">
		<meta name="robots" content="index,follow">
		<meta name="googlebot" content="index,follow">
		<!-- Open Graph -->
		<meta property="og:title" content={ogTitle}>
		<meta property="og:description" content={ogDescription}>
		<meta property="og:url" content={ogUrl}>
		<meta property="og:type" content="website">
		<meta property="og:image" content={`${ogImage || 'https://techit.win/og.jpg'}`}>
	</head>
	<body>
		<Navbar title={navTitle}/>
		<slot />
		<Footer/>
	</body>
</html>
