---
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
interface Props {
	title: string;
	description: string;
	navTitle: string;
	ogTitle: string;
	ogImage?: string;
	ogDescription: string;
	ogUrl: string;
	ogType?: string;
	noIndex?: boolean;
	noNavbar?: boolean;
	noFooter?: boolean;
	noBg?: boolean;
}

const { title, description, navTitle, ogDescription, ogTitle, ogUrl, ogImage, ogType, noIndex, noNavbar, noFooter, noBg } = Astro.props;
import '../styles/global.css';
---

<!DOCTYPE html>
<html dir="ltr" lang="en">
	<head>
		<!-- Generic -->
		<title>{title}</title>
		<meta name="description" content={description}/>
		<meta charset="UTF-8" />
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="generator" content={Astro.generator} />
		<!-- Security headers -->
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta http-equiv="Referrer-Policy" content="strict-origin-when-cross-origin">
		<meta http-equiv="refresh" content="strict-origin-when-cross-origin">
		<!-- Viewport -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- Icons -->
		<link rel="icon" sizes="any" href="/favicon.svg" type="image/svg+xml">
		<!-- Author Name -->
		<meta name="author" content="Techit Thawiang">
		<link rel="canonical" href="https://techit.win/">
		<meta name="robots" content={noIndex ? 'noindex' : 'index,follow'}>
		<meta name="googlebot" content={noIndex ? 'noindex' : 'index,follow'}>
		<!-- Open Graph Social Media Share Card -->
		<meta property="og:title" content={ogTitle}>
		<meta property="og:description" content={ogDescription}>
		<meta property="og:url" content={ogUrl}>
		<meta property="og:type" content="website">
		<meta property="og:image" content={`${ogImage || 'https://techit.win/og.jpg'}`}>
		<meta property="og:type" content={`${ogType || 'article'}`}>
		<meta property="og:locale" content="th_TH" />
		<meta property="og:site_name" content="techit.win">
		<!-- Twitter/X Card -->
		<meta name="twitter:creator" content="@techitwinner">
		<meta name="twitter:site" content="@techitwinner">
		<meta name="twitter:card" content="summary">
		<meta name="twitter:image" content="">
		<!-- Apple Mobile Web App -->
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="apple-mobile-web-app-title" content="Techit Thawiang">
		<!-- Scripts and Stuff -->
		<script src="https://unpkg.com/@phosphor-icons/web"></script>
	</head>
	<body class="w-full">
		<div class={noNavbar ? 'hidden' : 'w-full max-w-[56rem]'}>
			<Navbar title={navTitle}/>	
		</div>
		<slot />
		<div class={noBg ? 'hidden' : 'aurora'}/>
		<div class={noFooter ? 'hidden' : 'w-full max-w-[56rem]'}>
			<Footer/>
		</div>
	</body>
</html>

<style>
	.aurora {
		opacity: 0.7;
		background-image: url(https://files.techit.win/images/background/GodRayNew.png);
		background-size: cover;
		background-position: center;
		background-attachment: fixed;
		background-repeat: no-repeat;
		display: block;
		position: fixed;
		width: 100%;
		height: 100%;
		top: 0;
		bottom: 0;
		z-index: -100;
	}
</style>